

body { min-height: 100vh; 
  overflow-x: hidden;
}



#homePageCont {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 10px;
}

.movieCard {
  width: 100%;
	height: 100%;
}
.iframeCont {
  max-width: 100%;
	padding-top: 56.25%;
	position: relative;
	width: 100%;
}

#moviesViewCont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
	height: 100%;
  align-items:center;
  row-gap: 20px;
  padding: 10px;
}

#optionsCont{
  position: absolute;
  right: 0;
  display: flex;
  
}




#moviesPlayingCont {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
  width: 100%;
	height: 100%;

}

.trailer {
  border: none;
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  
}

.bottomCardCont {
  display: flex;
  align-items:end;
  justify-content: space-between;
}

.movieRating, .movieTitle {
  display: flex;
justify-content: flex-start;
align-items: center;
column-gap: 10px;

}


/**
Order Confirmation View styling
**/

#orderConfirmationCont {
  display: flex;
  align-items: center;
  justify-content: center;
padding: 10px;
width: 100%;
height: auto;

}

#orderConfirmationCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

padding: 10px;
row-gap: 10px;



}

.orderSummary {
  display: flex;
  justify-content: space-between;
}

#orderSumCont {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
row-gap: 5px;

}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}


#movieSelection {
display: flex;
justify-content: flex-start;

width: 100%;
height: 100%;

}

.movieSelectionDetails {
padding: 10px;

}

#moviePoster {
  height: 100%;
  max-height: 400px;

}

/**
Promotion Table
**/

#promotionTableContainer {
  display: flex;
  justify-content: center;

}

#promotionTable {

}

#promotionScreenCont{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
    display: flex;
  flex-direction: column;
  align-items: center;



}

#tableCard {
  width: 100%;
}

#addPromotionViewCont {
  display: flex;
  width: 100%;
  justify-content: space-between;
  row-gap: 10px;


}

#promotionContent {
width: 100%;
max-width: 550px;
display: flex;
flex-direction: column;
row-gap: 20px;
}

#promotionTextField {
  width: 100%
}

/*
BuyTicketViews style
*/

#buyTicketViews {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  row-gap: 50px;
}

.showTimeOption {
  display: flex;

  column-gap: 10px;
  row-gap: 10px;
}

.showTimePanel {
  overflow-X: scroll;
  width: 100%;
}
.showTimePanel::-webkit-scrollbar {
  display: none;
}
#showTimeView {

}

#seatMap {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
#seatMap {
  padding: 10px;
}

#modal {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
 #movieSelectedView {
  padding: 10px;
 }


 #bookMovieStepperView {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
 }

 #time-form {
    margin: 30px;
 }